<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Bun venit, {{ teacherName }}!</h1>
  </header>

  <div class="dashboard-grid">
    <section class="card classes-section">
      <div class="section-header">
        <h2>Clasele mele</h2>
        <button routerLink="/class-management" class="btn-icon">
          <span class="material-icons">manage_accounts</span>
          Gestionează
        </button>
      </div>

      <div class="class-list">
        @for (classItem of classes; track classItem.id) { <div class="class-item">
            <div class="class-info">
              <h3>{{ classItem.name }}</h3>
              <p>{{ classItem.studentCount }} studenți</p>
            </div>
            <button (click)="manageClass(classItem.id)" class="btn-secondary btn-small">Detalii</button>
          </div>
        }
        @if(classes.length === 0) {
          <p class="no-data-message">Nu aveți clase asignate.</p>
        }
      </div>
    </section>

    <section class="card recent-grades">
        <div class="section-header">
          <h2>Note recent adăugate</h2>
          <button routerLink="/grade-management" class="btn-primary">
            Adaugă / Vezi toate
          </button>
        </div>

        <app-grade-table
          [grades]="recentGrades"
          [showStudentNameColumn]="true"
          noGradesMessage="Nu există note recente de afișat.">
        </app-grade-table>

    </section>
  </div>
</div>